/* Import Font */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Poppins-Regular.ttf) format('truetype');
}

/* Root and Variables */

:root {
    --primary-color: #afafaf;
    --secondary-color: #355363;
    --background-color: #ffffff;
    --background-secondary-color: #f0f0f3;
    --text-color: #2d2d2d;
}

[data-theme="dark"] {
    --primary-color: #455363;
    --secondary-color: #b3b3b3;
    --background-color: #1f2935;
    --background-secondary-color: #313d4d;
    --text-color: #fff;
}

/* Website Styling */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-left: 0px;
    margin-right: 0px;
}

/* Top Navbar Styling */

h1#navbar-text {
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

div#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: var(--secondary-color);
    min-height: auto;
    min-width: auto;
    position: sticky;
    z-index: 10;
    background-color: var(--background-color);
}

img#navbar-logo {
    height: 50px;
    margin-top: -5px;
    padding-left: 20px;
}

input#folder-search {
    border-style: solid;
    width: 400px;
    min-width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-secondary-color);
}

div#folder-search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    min-width: 50px;
}

/* Navbar Buttons */

button#settings-button, button#search-button, button#add-button, button#close-button {
    background-color: white;
    padding: 5px;
    border: 0px;
    width: auto;
    min-width: 50px;
    height: 50px;
    background-color: var(--text-color);
}

button#settings-button {
    margin-right: 20px;
    mask: url(assets/material-icons/settings.svg) 10px 10px/30px 30px no-repeat exclude;
}

button#search-button {
    mask: url(assets/material-icons/search.svg) 10px 10px/30px 30px no-repeat exclude;
}

button#add-button {
    margin-right: 20px;
    mask: url(assets/material-icons/add.svg) 5px 5px/40px 40px no-repeat exclude;
}

/* Search Bar Sizing */

@media only screen and (max-width: 600px) {
    div#smallsearchbox {
        top: 72px;
        border: 2px;
        border-top: 0px;
        border-radius: 0 0 5px 5px;
        border-style: solid;
        border-color: var(--secondary-color);
        position: sticky;
        z-index: 9;
        background-color: var(--background-color);
    }
    
    input#small-folder-search {
        width: 100%;
        border: 0;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: var(--text-color);
        background-color: var(--background-secondary-color);
    }
}

@media only screen and (min-width: 600px) {
    div#smallsearchbox {
        display: none;
    }
    
    input#small-folder-search {
        display: none;
    }
}

/* Folder Card */ 

div.folder.list {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--background-secondary-color);
}

.folder.text {
    padding-left: 20px;
    overflow-wrap: break-word;
    overflow-y: auto;
    grid-column: 1/10;
}

h3, p {
    font-family: 'Poppins', sans-serif;
}

.folder.buttons, button#backup-all-button {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
    grid-column: 10;
    border: 0px;
    border-radius: 3px;
}

button.folder.buttons.deleteButton {
    background-color: rgb(255, 98, 98);
}

button.folder.buttons.deleteButton:hover {
    background-color: rgb(196, 56, 56);
}

button.folder.buttons.backupButton, button#backup-all-button {
    background-color: rgb(104, 204, 104);
}

button.folder.buttons.backupButton:hover, button#backup-all-button:hover {
    background-color: rgb(71, 151, 71);
}

img#delete-button-icon, img#backup-button-icon{
    filter: brightness(0);
    margin-top: 3px;
}

/* Options Tab */

div#options-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000079;
    z-index: 15;
}

div#options-tab {
    background-color: var(--background-secondary-color);
    z-index: 15;
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    div#options-tab {
        position: static;
        width: 50%;
        min-width: 600px;
        height: 50%;
        min-height: 400px;
        margin: auto;
        transform: translateY(50%);
        border-radius: 10px;
    }
}

@media only screen and (max-width: 600px) {
    div#options-tab {
        position: static;
        width: 100% - 20px;
        height: 80%;
        transform: translateY(25%);
    }
}

button#close-button {
    position: absolute;
    top: 0;
    right: 0;
    mask: url(assets/material-icons/close.svg) 5px 5px/40px 40px no-repeat exclude;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes dropDown1 { 
    0% { transform: translateY(-100%); } 
    100% {transform: translateY(50%)}
}

@keyframes dropDown2 { 
    0% { transform: translateY(100%); } 
    100% {transform: translateY(25%)}
}

/* Theme Toggler */

h3.options.text {
    margin-top: 10px;
    margin-left: 25px;
}

div.options.container > * {
    display: inline-block;
}

button#backup-all-button {
    transform: translateX(30%) translateY(10%);
}

.reloadFolders-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    transform: translateX(30%) translateY(30%);
}

.reloadFolders-switch input {
    display:none;
}

/* By Ananya Neogi */
/* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    transform: translateX(30%) translateY(30%);
}

.theme-switch input {
    display:none;
}

input:checked + .reloadFolders.slider {
    background-color: #66bb7b;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #5a63b1;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Delete Tab */

div#delete-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000079;
    z-index: 15;
}

div#delete-tab {
    background-color: var(--background-secondary-color);
    z-index: 15;
    padding: 10px;
}

button.delete-yes-button, button.delete-no-button {
    color: var(--text-color);
    font-size: 25px;
    border: 0px;
    border-radius: 3px;
    position: absolute;
    bottom: 40px;
    width: 75px;
    height: 50px;
}

button.delete-yes-button {
    background-color: rgb(255, 98, 98);
}

button.delete-yes-button:hover {
    background-color: rgb(196, 56, 56);
}

button.delete-no-button {
    background-color: var(--background-color);
}

button.delete-no-button:hover {
    background-color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
    div#delete-tab {
        position: static;
        width: 50%;
        min-width: 600px;
        height: 50%;
        min-height: 400px;
        margin: auto;
        transform: translateY(50%);
        border-radius: 10px;
    }

    h3#delete-tab-text {
        margin-top: 10px;
        margin-left: 25px;
        width: 400px;
        min-width: auto;
    }

    button.delete-yes-button {
        left: 25%;
    }
    
    button.delete-no-button {
        left: 60%;
    }
}

@media only screen and (max-width: 600px) {
    div#delete-tab {
        position: static;
        width: 100% - 20px;
        height: 50%;
        transform: translateY(95%);
    }

    h3#delete-tab-text {
        margin-top: 10px;
        margin-left: 25px;
        width: 75%;
    }

    button.delete-yes-button {
        left: 35px;
    }
    
    button.delete-no-button {
        left: 150px;
    }
}

@keyframes dropDown3 { 
    0% { transform: translateY(200%); } 
    100% {transform: translateY(95%)}
}